.bootstrap-wrapper .bcontainer {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.bootstrap-wrapper .bcontainer {
		width: 750px !important;
	}
}
@media (min-width: 992px) {
	.bootstrap-wrapper .bcontainer {
		width: 970px !important;
	}
}
		
@media (min-width: 1200px) {
	.bootstrap-wrapper .bcontainer {
		width: 1170px !important;
	}
}