.m-0 {
	margin: 0 !important;
}

.mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.p-0 {
	padding: 0 !important;
}

.px-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.py-4 {
	padding-top: 1.5rem!important;
	padding-bottom: 1.5rem!important;
}

.py-5 {
	padding-top: 3rem!important;
	padding-bottom: 3rem!important;
}