@import './explore.css';
@import './home.css';
@import './menu.css';
@import './shop.css';


.mb-3 {
	margin-bottom: 1.5em !important;
}

.pb-4 {
	padding-bottom: 1.5em !important;
}

.text-uppercase {
	text-transform: uppercase !important;
}

/* [TEXT][SPACING] */
.text-spread { letter-spacing: .5px !important; }

.text-hover-underline:hover {
	/* Increase this as per requirement */
	padding-bottom: 15px;
	border-bottom-style: solid;
	border-bottom-width: 3.1px;
	width: fit-content;
}